  *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  h1{
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2{
      font-size: 1.8rem;
      font-weight: 600;
  }
  h3{
      font-size: 1.5rem;
      font-weight: 800;
  }
  h4{
      font-size: 1.2rem;
      font-weight: 600;
  }
  h5{
      font-size: 1rem;
      font-weight: 400;
  }
  h6{
      color: #d8d8d8;
  }
  
  /*Navbar*/
    .nav-buttons{
    margin-left: 15%;
  }

  .navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
  }

  .navbar .brand{
    color: coral;
    margin: 3px 5px;
    font-size: 1.5rem;
  }

  .navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.4s ease;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar i:hover,
  .navbar-light .navbar-nav .nav-link.active
  .navbar i:hover{
      color: coral;
  }
  /*Navbar*/

  /*HOME*/
  #home {
    background-image: linear-gradient(to top,rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('../images/students4.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /*background-position-y: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #home h1, h4, .p {
    font-family: cursive;
    color: white;
    font-weight: 800;
  }


/*HOME*/

/*BUTTON*/
  button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
  }

  button:hover{
      background-color: coral;
  }
/*BUTTON*/

/*EDU*/
  #edu h5, p{
    color: black;
  }
/*Edu*/

/*About*/
  #about .abt{
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    /*align-items: flex-start;*/
    text-align: start;
}

#about .abt h4{
  color: black;
}
/*About*/

/*Classes*/
 /*.footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
  }*/
/*Classes*/


/*video*/
video{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.book_img{
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;

}

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}
/*** Team ***/

/*** Testimonial ***/
  .testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
  }

  .testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
  }

  @media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
  }

  @media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
  }

    .testimonial-carousel .owl-item .testimonial-text,
  .testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
  }

  .testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
  }

  .testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
  }

  .testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
  }

  .testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
  }
/*** Testimonial ***/


/*Gallery*/
#gallery .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    /*flex-wrap: nowrap;*/ /* Prevents wrapping */
}
/*Gallery*/

/*footer*/
#contact p, i {
  color: white;
}

/*footer*/
/*  .one {
    position: relative;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}*/